.heading {
  font-weight: 700;
  text-align: center;
}

.image {
  width: 30vw;
  aspect-ratio: 1/1;
}

.content {
  display: flex;
  flex-direction: row;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.metadata {
  text-align: right;
}
